<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of viagem | async" (click)='atualizaTabela(item)' [routerLink]="['/gastos',item.idviagem]" >
        <div class="alignLugares">
       <div> {{item.lugar}}</div>
        <div (click)='deletarViagem(item)'><img src="https://firebasestorage.googleapis.com/v0/b/travel-money-app.appspot.com/o/categoria%2Fdelete_forever-black-18dp.svg?alt=media&token=e8aba7a0-8d54-45e9-8563-4aa12786b8d9"></div>
       </div>

      </a>
      <div *ngIf="messages" class="alert alert-success" role="alert"> {{messages}} </div>

      <a mat-list-item href="add"> Adicionar Viagem </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>travelmoney</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
