<mat-card>

  <img class="imagemPost" [src]="url">
  <div>

  <span class="caixaNomeFoto"><img class="fotoProfile" src="https://thispersondoesnotexist.com/image"> <p> nome usuario </p></span>


  </div>



</mat-card>


<mat-card>

  <img class="imagemPost" [src]="url">
  <div>

  <span class="caixaNomeFoto"><img class="fotoProfile" src="https://thispersondoesnotexist.com/image"> nome usuario </span>


  </div>



</mat-card>


<mat-card>

  <img class="imagemPost" [src]="url">
  <div>

  <span class="caixaNomeFoto"><img class="fotoProfile" src="https://thispersondoesnotexist.com/image"> nome usuario </span>


  </div>



</mat-card>


<mat-card>

  <img class="imagemPost" [src]="url">
  <div>

  <span class="caixaNomeFoto"><img class="fotoProfile" src="https://thispersondoesnotexist.com/image"> nome usuario </span>


  </div>



</mat-card>
