<div id="contener">
  <h1>{{titulo}}</h1>
  <p>{{dados}}</p>


   <div class="bloco">

      <mat-form-field class="example-full-width">
        <mat-label>Copiar dados </mat-label>
        <textarea  matInput placeholder="Ex. It makes me feel..."  [(ngModel)]="dados" style="color: black;" ></textarea>
      </mat-form-field>

       <button (click)="executar()">Copiar o titulo</button>
    </div>




    <img *ngIf="mostrarImagem" [src]="imgUrl"/>

    <div id="check">
     <input type="checkbox" [(ngModel)]="mostrarImagem"/> mostrar imagem
    </div>

  </div>
